.map-container {
  margin-top: 20px;
}

h4 {
  margin-top: 15px!important;
  margin-left: 15px!important;
  font-size: 15px!important;
}

h2,h4 {
  font-family: 'Open Sans', sans-serif!important;
}

.direction-icon {
  width: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

svg {
  background-color: #fff;
}

.modal-header {
  border-bottom: none!important;
}

.modal-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
}

.modal-footer {
  border-top: none!important;
  padding: 0!important;
}

.modal-body {
  padding: 0!important;
  max-height: 482px;
}

.modal-dialog {
  max-width: 60%!important;
}

.nav-tabs {
  border: none!important;
}

.nav-item a {
  border: none!important;
}

.carousel {
  height: 500px;
  overflow: hidden;
}

.carousel-item {
  height: 450px;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: 450px;
}

.transcript {
  position: relative;
  top: -500px;
  height: 450px;
  padding-top: 50px;
  background-color: rgba(50,50,50,.65);
  color: white;
  overflow: scroll;
}

.start {
  margin: 50px 0;
}

.transcript p,
.start p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  padding: 0 50px;
}

.transcript-trigger,
.transcript-trigger:hover {
  color: #5C5C5C;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-decoration: none;
  padding-right: 40px!important;
}

.btn {
  background-color: #EB1730!important;
  border: none!important;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  padding-top: 15px!important;
  padding-bottom: 15px!important;
  font-size: 18px;
}

.btn.prev {
  border-radius: 0 0 0 4px!important;
  margin-right: 1px!important;
}

.btn.next {
  border-radius: 0 0 4px 0!important;
  margin-left: 1px!important;
}

.start-btn {
  border-radius: 0 0 4px 4px!important;
}

.restart-btn {
  margin: 0 auto;
  padding: 18px 40px!important;
}

.end-modal {
  height: 55px;
}

.zoomButton {
  display: none;
}
